*{
	margin:0;
	padding:0;
}

#nav-bar
{
	background-color:#ecf1f488;
	position: sticky;
	top:0;
	z-index:10;
	float: right;
}
.navbar
{
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:rgb(14, 8, 8) !important;
font-weight:600;
float:right;
text-align:left;
}

.navbar-brand{
    font-size: 1.5rem;
    color: #110902bb!important;

}

.nav-link{
    float: right;
    color: #1a0a0ae0!important;

}

.nav-link:hover{
    background-color:#25baf1;
}
/* navbar css ends here  */
#main
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC7eolkpgKG7FpCowDTWzDz8TW3QML6mOarg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
background-color:#25baf1;
}
.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgba(16, 16, 17, 0.936)!important;
    color: rgb(236, 13, 184)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb()!important;
} 